# Données générées localement — trop volumineuses pour Git
alerte_email.html
anssi_cve_enrichi.csv
data/

# Fichiers Python temporaires
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
.venv/
env/

# Fichiers VS Code
.vscode/